@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Oswald';
    font-size: 20px !important;
    color: white !important;
    margin-left: 5px;
}

.navbar {
    background-color: rgb(53, 52, 52);
    height: 55px;
}

.d-inline-block {
    margin-right: 25px;
    margin-top: 4px;
}